/* 
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
 */

:root {
  --purple: #540b51;
  --beige: #f3eae2;
  --yellow: #ecb12f;
  --blue: #4285f4;
  --black: #191817;
  --grey: #454245;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial,
    sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h2 {
  color: var(--black);
}

/* nav - mobile */

nav {
  background-color: var(--purple);
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.nav-content-container {
  display: flex;
}

.c-slacklogo {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  width: 125px;
  height: auto;
}

.nav-buttons-container {
  padding-right: 1rem;
  background-color: var(--purple);
}

.nav-buttons-container button {
  margin-left: 1rem;
}

.log-in-buttons {
  display: none;
}

.nav-menu-links {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  background-color: var(--purple);
}

/* header */

header {
  background-color: var(--purple);
  padding-top: 4rem;
  color: white;
  text-align: center;
}

.header-text-container {
  padding: 1em;
}

header h1 {
  font-size: 2.3rem;
  padding: 0 1rem;
  font-weight: 500;
}

#header-highlighted-text {
  color: var(--yellow);
  font-weight: bold;
}

header p {
  font-size: 0.9rem;
}

.hero-img-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.hero-img-container img {
  object-fit: cover;
  width: 160%;
  /* height: auto; */
}

.header-sign-up-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-sign-up-buttons button {
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: start;
  width: 100%;
}

.header-sign-up-buttons button p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem 0 0.5rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
}

#sing-up-email-button {
  background-color: white;
  color: var(--purple);
}

#sign-up-google-button {
  background-color: var(--blue);
  color: white;
  position: relative;
}

#sign-up-google-button img {
  width: 0.8rem;
  height: auto;
  padding: 0.5em;
  border-radius: 0.1em;
  background-color: white;
  position: absolute;
}

/* main */

.logos-section-container,
.conexion-section-container,
.flexibility-section-container,
.tools-section-container {
  background-color: var(--beige);
}

/* main / logos section */

.logos-section-container {
  background-color: var(--beige);
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.logos-section-container p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}

.logos-img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logos-img-container img {
  width: auto;
  height: 25px;
  padding: 0.5em;
}

/* main - learn more sections */

.learn-more-link {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 500;
}

.full-size-text-container {
  padding: 1em 2em 4em 1em;
}

.conexion-section-img-container,
.flexibility-section-img-container,
.tools-section-img-container {
  width: 100%;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
}

.conexion-section-img-container {
  background-image: url("./images/connectedness-mobile.png");
}

.flexibility-section-img-container {
  background-image: url("./images/flexibility-mobile.png");
  margin-bottom: 2.5em;
}

.tools-section-img-container {
  background-image: url("./images/speed-mobile.png");
  margin-bottom: 2em;
}

.learn-more-sections-img {
  width: 90%;
}

/* main / flexibility section */

.flexibility-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flexibility-section-img-container {
  width: 300px;
}

/* .flexibility-section-img-container img {
  width: 90%;
} */

/* main / tools section */

.tools-section-img-container {
  width: 100%;
}

/* .tools-section-img-container img {
  width: 100%;
} */

/* main - statistics section */

.statistics-section {
  padding: 2em 1em;
  text-align: center;
}

.statistics-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.statistics-section p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.statistics-section button,
.homepage-last-cta button {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.3em;
}

.meet-slack-button {
  background-color: var(--purple);
  color: white;
  margin: 1em 0;
  border: 2px solid var(--purple);
}

.talk-to-sales-button {
  color: var(--purple);
  border: 2px solid var(--purple);
}

.statistics-list-container {
  display: grid;
  place-items: center;
}

.statistics-list {
  padding-top: 2em;
  width: 60%;
}

.statistics-list p {
  font-size: 0.8rem;
  font-weight: 800;
}

.statistics-list li {
  margin-bottom: 2em;
}

.statistics-list li span {
  font-size: 2.5rem;
  color: var(--purple);
}

.purple-background-container {
  overflow: hidden;
  margin-bottom: 5em;
}

.homepage-last-cta-container {
  width: 200%;
  background-color: var(--purple);
  padding: 2em 1em 5em;
  border-radius: 0 0 55% 50%;
  position: relative;
  left: -50%;
}

.homepage-last-cta {
  text-align: center;
  width: 90vw;
  margin-left: 25%;
  display: grid;
  place-items: center;
}

.homepage-last-cta h3 {
  color: white;
  font-size: 2rem;
}

.last-cta-sales-button {
  color: white;
  border: 2px solid white;
  margin-bottom: 1em;
}

.last-cta-free-button {
  background-color: white;
  border: 2px solid white;
  color: var(--purple);
}

.homepage-last-cta div {
  height: 100px;
  border-radius: 50%;
}

footer {
  padding: 1.2em;
  max-width: 100%;
  display: grid;
}

footer img {
  width: 2rem;
}

footer li {
  font-size: 0.8rem;
}

footer h4 {
  font-size: 0.9em;
}

.links-columns-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #808080;
  padding: 1em 0;
}

.links-columns-container li {
  max-width: 100%;
  padding: 0.9em 0;
}

.links-columns-container a {
  color: var(--grey);
}

.site-links li {
  padding: 1em 0;
}

.site-links a {
  color: var(--black);
  font-weight: 600;
}

.social-media-icon-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.6em;
}

.copyright {
  color: #808080;
  font-size: 0.8rem;
  padding-bottom: 3em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* .learn-more-sections img {
    width: 80vw;
  } */

  .conexion-section-img-container,
  .flexibility-section-img-container,
  .tools-section-img-container {
    /* width: 90vw; */
    height: 450px;
  }

  .full-size-text-container {
    margin-left: 6em;
    margin-right: 6em;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  header {
    background-image: url("./images/background-singup.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    padding: 8em 1em 8em;
    align-items: center;
  }

  header h1 {
    font-size: 6em;
    text-align: left;
    font-weight: 600;
  }

  header p {
    font-size: 2em;
    text-align: left;
  }

  .hero-img-container {
    height: auto;
  }

  .hero-img-container img {
    width: 150%;
    margin-right: 2em;
  }

  .logos-section-container {
    padding-bottom: 6em;
  }

  .logos-section-container p {
    font-size: 1.5em;
  }

  .logos-section-container img {
    height: 35px;
  }

  .conexion-section-img-container {
    background-image: url("./images/connectedness.png");
  }

  .flexibility-section-img-container {
    background-image: url("./images/flexibility.png");
    width: 750px;
  }

  .tools-section-img-container {
    background-image: url("./images/speed.png");
  }

  .statistics-section {
    display: grid;
    place-items: center;
  }

  .statistics-buttons-container {
    width: 750px;
    display: flex;
    align-items: center;
  }

  .statistics-buttons-container button {
    margin: 1em;
  }

  .statistics-section h2 {
    font-size: 2rem;
  }

  .statistics-list-container {
    display: block;
  }

  .statistics-list-container ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2em;
  }

  .statistics-list-container li {
    width: 200px;
  }

  .homepage-last-cta {
    margin-left: 26%;
    padding-left: 0.5%;
  }

  .links-columns-container {
    display: flex;
    justify-content: space-between;
  }

  .site-links ul {
    display: flex;
    justify-content: space-between;
  }

  .social-media-icon-links {
    justify-content: flex-start;
  }

  .social-media-icon-links li {
    padding-right: 1em;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  .header-text-container {
    margin: 0 2em;
  }
}

@media (min-width: 1024px) {
  nav {
    align-items: center;
    padding-bottom: 0;
  }

  .nav-links-container {
    display: flex;
  }

  .nav-menu-links {
    display: flex;
    align-items: center;
  }

  .nav-menu-links a {
    color: white;
    padding: 1em;
    font-weight: 500;
  }

  .c-slacklogo {
    padding: 1em;
  }

  .nav-buttons-container {
    display: flex;
    align-items: center;
  }

  .nav-buttons-container button {
    margin-right: 1em;
  }

  .burger-icon {
    display: none;
  }

  .log-in-buttons {
    display: flex;
    align-items: center;
  }

  #nav-sign-in-button {
    color: white;
    font-weight: 500;
  }

  #nav-try-for-free-button {
    color: var(--purple);
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.2em;
  }

  .conexion-section-container,
  .flexibility-section-container,
  .tools-section-container {
    display: flex;
    align-items: center;
  }

  .flexibility-section-container {
    flex-direction: row-reverse;
  }

  .flexibility-section-img-container {
    width: 450px;
  }

  .full-size-text-container {
    margin-left: 4em;
    margin-right: 4em;
    width: 500px;
  }

  .last-cta-buttons-container {
    display: flex;
    width: 750px;
    align-items: center;
  }

  .last-cta-sales-button {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

@media (min-width: 1440px) {
  header {
    grid-template-columns: 1fr 1fr;
    padding: 6em;
  }

  .header-text-container {
    margin: 0;
  }

  .header-sign-up-buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-sign-up-buttons button {
    margin-right: 1em;
  }

  .hero-img-container {
    overflow: visible;
  }

  .hero-img-container img {
    object-fit: contain;
    width: 90%;
  }

  .logos-img-container {
    justify-content: space-evenly;
  }

  .logos-section-container img {
    height: 50px;
    padding-top: 3em;
  }
}
