/* 
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
 */

:root {
  --purple: #540b51;
  --beige: #f3eae2;
  --yellow: #ecb12f;
  --blue: #4285f4;
  --black: #191817;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial,
    sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h2 {
  color: var(--black);
}

/* nav - mobile */

nav {
  background-color: var(--purple);
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.nav-content-container {
  display: flex;
}

.c-slacklogo {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  width: 125px;
  height: auto;
}

.nav-buttons-container {
  padding-right: 1rem;
  background-color: var(--purple);
}

.nav-buttons-container button {
  padding-left: 1rem;
}

.log-in-buttons {
  display: none;
}

.nav-menu-links {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  background-color: var(--purple);
}

/* header */

header {
  background-color: var(--purple);
  padding-top: 4rem;
  color: white;
  text-align: center;
}

.header-text-container {
  padding: 1em;
}

header h1 {
  font-size: 2.3rem;
  padding: 0 1rem;
  font-weight: 500;
}

#header-highlighted-text {
  color: var(--yellow);
  font-weight: bold;
}

header p {
  font-size: 0.9rem;
}

.hero-img-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.hero-img-container img {
  object-fit: cover;
  width: 160%;
  /* height: auto; */
}

.header-sign-up-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-sign-up-buttons button {
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: start;
  width: 100%;
}

.header-sign-up-buttons button p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem 0 0.5rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
}

#sing-up-email-button {
  background-color: white;
  color: var(--purple);
}

#sign-up-google-button {
  background-color: var(--blue);
  color: white;
  position: relative;
}

#sign-up-google-button img {
  width: 0.8rem;
  height: auto;
  padding: 0.5em;
  border-radius: 0.1em;
  background-color: white;
  position: absolute;
}

/* main */

.logos-section-container,
.conexion-section-container,
.flexibility-section-container,
.tools-section-container {
  background-color: var(--beige);
}

/* main / logos section */

.logos-section-container {
  background-color: var(--beige);
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.logos-section-container p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}

.logos-img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logos-img-container img {
  width: auto;
  height: 25px;
  padding: 0.5em;
}

/* main - learn more sections */

.learn-more-link {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 500;
}

.full-size-text-container {
  padding: 1em 2em 4em 1em;
}

.conexion-section-img-container {
  width: 100%;
}

/* main / conexion section */

.conexion-section-img-container img {
  width: 100%;
}

/* main / flexibility section */

.flexibility-section-img-container {
  width: 100%;
}

.flexibility-section-img-container img {
  width: 100%;
}

/* main / tools section */

.tools-section-img-container {
  width: 100%;
}

.tools-section-img-container img {
  width: 100%;
}

/* main - statistics section */

.statistics-section {
  padding: 2em 1em;
  text-align: center;
}

.statistics-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.statistics-section p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.statistics-section button,
.homepage-last-cta button {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.3em;
}

.meet-slack-button {
  background-color: var(--purple);
  color: white;
  margin: 1em 0;
}

.talk-to-sales-button {
  color: var(--purple);
  border: 2px solid var(--purple);
}

.statistics-list-container {
  display: grid;
  place-items: center;
}

.statistics-list {
  padding-top: 2em;
  width: 60%;
}

.statistics-list p {
  font-size: 0.8rem;
  font-weight: 800;
}

.statistics-list li {
  margin-bottom: 2em;
}

.statistics-list li span {
  font-size: 2.5rem;
  color: var(--purple);
}

.homepage-last-cta {
  background-color: var(--purple);
  padding: 2em 1em 2em;
  margin-bottom: 6em;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.homepage-last-cta h3 {
  color: white;
  font-size: 2rem;
}

.last-cta-sales-button {
  color: white;
  border: 2px solid white;
  margin-bottom: 1em;
}

.last-cta-free-button {
  background-color: white;
  color: var(--purple);
}

.homepage-last-cta div {
  height: 100px;
  border-radius: 50%;
}
