/* 
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
 */

:root {
  --purple: #540b51;
  --beige: #f3eae2;
  --yellow: #ecb12f;
  --blue: #4285f4;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial,
    sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* nav */

nav {
  background-color: var(--purple);
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
}

.nav-content-container {
  display: flex;
}

.c-slacklogo {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  width: 125px;
  height: auto;
}

.nav-buttons-container {
  padding-right: 1rem;
  background-color: var(--purple);
}

.nav-buttons-container button {
  padding-left: 1rem;
}

.log-in-buttons {
  display: none;
}

.nav-menu-links {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  background-color: var(--purple);
}

/* header */

header {
  background-color: var(--purple);
  padding-top: 4rem;
  color: white;
  text-align: center;
}

.header-text-container {
  padding: 1em;
}

header h1 {
  font-size: 2.3rem;
  padding: 0 1rem;
  font-weight: 500;
}

#header-highlighted-text {
  color: var(--yellow);
  font-weight: bold;
}

header p {
  font-size: 0.9rem;
}

.hero-product {
  width: 100%;
}

.hero-product img {
  width: 100%;
}

.header-sign-up-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-sign-up-buttons button {
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: start;
  width: 100%;
}

/* .header-sign-up-buttons button {
  background-color: white;
  color: var(--purple);
} */

.header-sign-up-buttons button p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem 0 0.5rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
}

#sing-up-email-button {
  background-color: white;
  color: var(--purple);
}

#sign-up-google-button {
  background-color: var(--blue);
  color: white;
  position: relative;
}

#sign-up-google-button img {
  width: 0.8rem;
  height: auto;
  padding: 0.5em;
  border-radius: 0.1em;
  background-color: white;
  position: absolute;
}

/* main */

.logos-section-container,
.conexion-section-container,
.flexibility-section-container,
.tools-section-container {
  background-color: var(--beige);
}

/* main / logos section */

.logos-section-container {
  background-color: var(--beige);
  width: 100%;
  /* padding: 0.1rem; */
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logos-img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logos-img-container img {
  width: auto;
  height: 20px;
  padding: 0.5em;
}

.conexion-section-img-container {
  width: 100%;
}

/* main / conexion section */

.conexion-section-img-container img {
  width: 100%;
}

/* main / flexibility section */

.flexibility-section-img-container {
  width: 100%;
}

.flexibility-section-img-container img {
  width: 100%;
}

/* main / tools section */

.tools-section-img-container {
  width: 100%;
}

.tools-section-img-container img {
  width: 100%;
}
