/* 
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
 */

:root {
  --purple: #540b51;
  --beige: #f3eae2;
  --yellow: #ecb12f;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial,
    sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* nav */

nav {
  background-color: var(--purple);
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
}

.nav-content-container {
  display: flex;
}

.c-slacklogo {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  width: 125px;
  height: auto;
}

.nav-buttons-container {
  padding-right: 1rem;
  background-color: var(--purple);
}

.nav-buttons-container button {
  padding-left: 1rem;
}

.log-in-buttons {
  display: none;
}

.nav-menu-links {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  background-color: var(--purple);
}

/* header */

header {
  background-color: var(--purple);
  padding-top: 4rem;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 2.3rem;
  padding: 0 1rem;
}

header p {
  font-size: 1rem;
}

.hero-product {
  width: 100%;
}

.hero-product img {
  width: 100%;
}

/* main / logos section */

.logos-section-container {
  background-color: var(--beige);
  width: 100%;
  /* padding: 0.1rem; */
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logos-img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logos-img-container img {
  width: auto;
  height: 20px;
  padding: 0.5em;
}

.conexion-section-img-container {
  width: 100%;
}

/* main / conexion section */

.conexion-section-img-container img {
  width: 100%;
}

/* main / flexibility section */

.flexibility-section-img-container {
  width: 100%;
}

.flexibility-section-img-container img {
  width: 100%;
}

/* main / tools section */

.tools-section-img-container {
  width: 100%;
}

.tools-section-img-container img {
  width: 100%;
}
